<li id='<%= dom_id(job) %>' class="job <%= job.statuses.join(' ') %>">
  <div class="summary">
    <%= job.run_at.to_s(:short) %>
    <a href="#details_link" class="details_link"><%= job.humanized_handler %></a>
    <span class="actions">
      <%= link_to 'delete', delayed_job_path(job), :method => :delete, :class => 'dangerous' %>
    </span>
  </div>
  <div class="details">
    <% if job.priority? %>
    <div class="priority">
      <span class="title">Priority</span> <%= job.priority %>
    </div>
    <% end %>
    <% if job.locked_at? %>
    <div class="locked">
    <span class="title">Locked by</span> <%= job.locked_by  %>
    <span class="title">on</span> <%= job.locked_at.to_s(:long)  %>
    </div>
    <% end %>
    <% if job.failed? %>
    <div class="failed">
     <%= job.attempts.ordinalize   %> 
      <span class="title">attempt failed</span> <%= job.failed_at.to_s(:long)  %>
      <pre class="backtrace"><%= job.last_error %></pre>
    </div>
    <% end %>
    <div class="timestamps">
      <span class="title">Created</span> <%= job.created_at.to_s(:long) %>
      <span class="title">last updated</span> <%= job.updated_at.to_s(:long) %>
    </div>
  </div>
</li>    
 